.form-container {
  width: 35%;
  border-radius: 1em;
  padding: 1em;
  color: var(--white);
  background-color: #0A0A0A;
}

.form-fieldset {
  padding: 1.5em 1.5em;
  border: 3px solid var(--ligth-blue);
}

.form-fieldset legend {
  padding: 0.4em;
  font-weight: 500;
  font-size: 0.9em;
  background-color: var(--ligth-blue);
}

.form-control {
  position: relative;
  margin-top: 4em;
}

.form-input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.validated-label {
  top: -15px;
  font-size: 0.8em;
  color: var(--ligth-blue);
  font-weight: 500;
}

.form-input:valid ~ .form-label,
.form-input:focus ~ .form-label {
  top: -15px;
  font-size: 0.8em;
  color: var(--ligth-blue);
  font-weight: 500;
}

.form-button {
  border: none;
  padding: 0.5em;
  background: var(--ligth-blue);
  color: var(--white);
  font-size: 0.8em;
  width: 100%;
  margin-top: 3.5em;
  cursor: pointer;
  border-radius: 1em;
  transition: 0.3s;
}

.form-button:hover {
  background-color: var(--dark-blue);
}
