.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  padding: 0em 5em;
}

.header-container .text-container {
  max-width: 45%;
  text-align: justify;
}

.header-container .text-container h1 {
  font-size: 2.5em;
  letter-spacing: 0.5px;
  color: var(--ligth-blue);
}

.header-container .text-container h2 {
  font-size: 1.3em;
  letter-spacing: 0.5px;
  margin-top: 1.3em;
  color: var(--white);
}

.header-container .text-container p {
  font-size: 0.9em;
  margin-top: 2em;
  font-weight: 500;
  color: var(--white);
}

.header-container .text-container p span {
  color: var(--ligth-blue);
  cursor: pointer;
}

.header-container .text-container p span:hover {
  text-decoration: underline;
}
